@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400&display=swap");
.footr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
.footr-logo__box {
  width: 150px;
  margin: 0 auto;
}
.footr-logo__img {
  width: 150px;
}
.footr-col {
  padding: 14px;
}
.footr-col__title {
  width: max-content;
  margin: 50px auto 20px;
  font-size: 1.8rem;
}
.footr-col .contact-btn {
  background-color: #b86410;
  color: #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #060606;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  display: block;
  width: max-content;
  margin: 30px auto 0;
  transition: 150ms;
}
.footr-col .contact-btn:hover {
  background-color: #92500d;
}
.footr-info__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 10px;
  gap: 12px;
}
.footr-info .info-logo {
  display: block;
  padding: 10px;
}
.footr-info .info-content {
  font-size: 1.5rem;
}
.footr-info .info-content .working-hours {
  padding: 4px;
}
.footr .payment-methods {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4rem;
  margin: 2rem;
}
.footr-menu {
  width: max-content;
  margin: 6px auto;
}
.footr-menu__item {
  font-size: 1.5rem;
  text-align: center;
  padding: 6px;
}
.footr .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}
.footr .social-links .social-link path {
  transition: 150ms;
}
.footr .social-links .social-link:hover path {
  fill: #EB831A;
}
@media (min-width: 1080px) {
  .footr {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 20px;
    width: 100%;
    max-width: 1300px;
    margin: 20rem auto 0;
  }
  .footr-logo__box {
    margin: 0;
  }
}

.copyright {
  font-size: 1.5rem;
  width: max-content;
  margin: 20px auto;
}