@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400&display=swap");
html {
  font-size: 12px;
  min-width: 300px;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #1F1F1F;
  color: #E8E8E8;
}

a {
  color: #E8E8E8;
  text-decoration: none;
}

.hedr {
  height: calc(100vh - 60px);
}
.hedr-hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 60px 20px 80px;
  height: inherit;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hedr-hero-welcome, .hedr-hero-location, .hedr-hero-promo {
  font-family: "Rubik", sans-serif;
}
.hedr-hero-welcome {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.hedr-hero-welcome span {
  text-transform: uppercase;
  color: #EB831A;
}
.hedr-hero-location {
  font-size: 2.5rem;
}
.hedr-hero-promo {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin: 30px 0;
}
.hedr-hero-promo em {
  color: #EB831A;
  text-decoration: underline;
}
.hedr-hero .btn-promo {
  background-color: #b86410;
  color: #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #060606;
  font-size: 2rem;
  font-weight: 600;
  border: none;
}

.wrapper {
  margin: 0 20px;
}

.main-content {
  text-align: center;
}
.main-content .main-title {
  color: #EB831A;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  margin: 50px 0;
}
.main-content .main-title::before {
  content: "";
  display: block;
  height: 20px;
  width: 2px;
  background-color: #EB831A;
  margin: 4px auto;
}
.main-content .main-about .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 768px;
  gap: 30px;
  margin: 0 auto;
}
.main-content .main-about__text {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
.main-content .main-about__img {
  width: 100%;
  max-width: 400px;
}
.main-content .main-team .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 768px;
  gap: 30px;
  margin: 0 auto;
}
.main-content .main-team .trainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
.main-content .main-team .trainer-img-box {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #EB831A;
  border-radius: 2px;
  box-shadow: 4px 4px 6px #121212;
}
.main-content .main-team .trainer .trainer-img {
  width: 100px;
  scale: 2;
  margin-top: 30px;
}
.main-content .main-team .trainer .trainer-name {
  font-size: 1.8rem;
  font-weight: 700;
}
.main-content .main-team .trainer .trainer-desc {
  max-width: 180px;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
.main-content .main-services .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
.main-content .main-services .service-item {
  margin: 16px;
}
.main-content .main-services .service-item__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 40px 0 20px;
}
.main-content .main-services .service-item__img {
  content-visibility: auto;
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 0 8px #525252;
}
.main-content .main-membership .membership-desc {
  color: #EB831A;
  font-size: 2rem;
  margin-bottom: 50px;
}
.main-content .main-membership .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.main-content .main-membership .membership-card {
  width: 100%;
  max-width: 340px;
  padding: 20px 0 40px;
  background-color: #171717;
  transition: 300ms;
}
.main-content .main-membership .membership-card:hover {
  transform: translateY(-4px);
}
.main-content .main-membership .membership-card__type {
  font-size: 2.5rem;
}
.main-content .main-membership .membership-card__price {
  font-size: 2.5rem;
  margin: 10px 0;
}
.main-content .main-membership .membership-card__price::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin: 10px auto;
  background-color: grey;
}
.main-content .main-membership .membership-card__price span {
  font-size: 3rem;
  font-weight: 600;
}
.main-content .main-membership .membership-card__advantages {
  font-size: calc(1.8rem - 20%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 24px auto;
  width: 80%;
}
.main-content .main-membership .membership-card__advantage {
  padding: 10px 0 10px 30px;
}
.main-content .main-membership .membership-card__order-btn {
  text-transform: uppercase;
  transition: 0.5s;
}
.main-content .main-membership .membership-card:nth-child(1) {
  box-shadow: 0 0 4px #16B83A;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(1) {
  background: url("../assets/tick_essential.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(2) {
  background: url("../assets/tick_essential.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(3) {
  background: url("../assets/tick_essential.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(4) {
  background: url("../assets/tick_essential.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(5) {
  background: url("../assets/x.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(6) {
  background: url("../assets/x.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(7) {
  background: url("../assets/x.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__advantage:nth-child(8) {
  background: url("../assets/x.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__order-btn {
  background-color: inherit;
  color: #16B83A;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  box-shadow: none;
  font-size: 1.8rem;
  font-weight: 600;
  border: 2px solid #16B83A;
}
.main-content .main-membership .membership-card:nth-child(1) .membership-card__order-btn:hover {
  background-color: #16B83A;
  color: #1F1F1F;
}
.main-content .main-membership .membership-card:nth-child(2) {
  box-shadow: 0 0 4px #A3C4F4;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(1) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(2) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(3) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(4) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(5) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(6) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(7) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__advantage:nth-child(8) {
  background: url("../assets/tick_plat.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__order-btn {
  background-color: inherit;
  color: #A3C4F4;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  box-shadow: none;
  font-size: 1.8rem;
  font-weight: 600;
  border: 2px solid #A3C4F4;
}
.main-content .main-membership .membership-card:nth-child(2) .membership-card__order-btn:hover {
  background-color: #A3C4F4;
  color: #1F1F1F;
}
.main-content .main-membership .membership-card:nth-child(3) {
  box-shadow: 0 0 4px #C8CC0F;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(1) {
  background: url("../assets/tick_gold.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(2) {
  background: url("../assets/tick_gold.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(3) {
  background: url("../assets/tick_gold.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(4) {
  background: url("../assets/tick_gold.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(5) {
  background: url("../assets/tick_gold.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(6) {
  background: url("../assets/tick_gold.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(7) {
  background: url("../assets/tick_gold.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__advantage:nth-child(8) {
  background: url("../assets/x.svg") no-repeat left center;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__order-btn {
  background-color: inherit;
  color: #C8CC0F;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  box-shadow: none;
  font-size: 1.8rem;
  font-weight: 700;
  border: 2px solid #C8CC0F;
}
.main-content .main-membership .membership-card:nth-child(3) .membership-card__order-btn:hover {
  background-color: #C8CC0F;
  color: #1F1F1F;
}
.main-content .main-news .article-collector {
  width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.main-content .main-news .news-box {
  width: 100%;
  max-width: 500px;
  height: 460px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.main-content .main-news .news-box:hover {
  cursor: pointer;
}
.main-content .main-news .news-box__img {
  background-image: linear-gradient(rgba(173, 64, 64, 0.5), rgba(54, 21, 21, 0.5), rgba(196, 67, 67, 0.5));
  display: block;
  height: 50%;
  width: 100%;
}
.main-content .main-news .news-box-content {
  margin: 26px;
  text-align: left;
  line-height: 16px;
}
.main-content .main-news .news-box-content__title {
  font-size: 2rem;
}
.main-content .main-news .news-box-content__details {
  font-size: calc(1.8rem - 30%);
  margin: 20px 0 40px 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.main-content .main-news .news-box-content__released {
  font-size: calc(1.8rem - 50%);
}
.main-content .main-news .news-box-content .author {
  text-decoration: underline;
  color: #EB831A;
}
.main-content .main-news .article-loader-btn {
  margin: 24px 0;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  background-color: #b86410;
  color: #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #060606;
  font-size: 2rem;
  font-weight: 600;
  border: none;
}
.main-content .main-progress {
  margin: 80px 0;
}
.main-content .main-progress .progress-bar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../assets/Sprinkle.svg");
  display: none;
  margin: 0 auto;
  max-width: 900px;
  height: 150px;
}
.main-content .main-progress .progress-bar__item {
  font-size: 3rem;
}
.main-content .main-progress .progress-bar .bold-num {
  font-weight: 700;
  display: block;
}
.main-content .main-progress .progress-bar .progress-name {
  font-weight: 500;
  display: block;
  padding-top: 16px;
}
@media (min-width: 900px) {
  .main-content .main-progress .progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}