// Color scheme of the website

$color-white: rgba(245, 245, 245, 1);
$color-grey: rgb(197, 197, 197);
$color-black: rgba(30, 30, 36, 1);
$color-orange-dark: rgba(255, 100, 10, 1);
$color-orange-light: rgba(255, 125, 39, 1);
$color-blue-dark: rgba(6, 133, 137, 1);
$color-blue-light: rgba(66, 241, 247, 1);
$color-black: #0a0b10;
$color-darkblue: #09131d;
$color-blue: #111a24;
$color-lightblue: #01eefc;

//Second color scheme

$color-main: rgba(255, 125, 39, 1);
$color-secondary: rgba(255, 100, 10, 1);
$color-black: #2f303a;

//darkened colors

$color-main-darkened: darken($color-main, 30%);
$color-secondary-darkened: darken($color-main, 20%);
