// Color scheme of the website

$color-white: rgba(245, 245, 245, 1);
$color-grey: rgba(91, 91, 91, 1);
$color-black: rgba(30, 30, 36, 1);
$color-orange-dark: rgba(255, 100, 10, 1);
$color-orange-light: rgba(255, 125, 39, 1);
$color-blue-dark: rgba(6, 133, 137, 1);
$color-blue-light: rgba(66, 241, 247, 1);
