@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400&display=swap");

$main-font: "Quicksand", sans-serif;
$secondary-font: "Rubik", sans-serif;

$size-2xs: 1.5rem;
$size-xs: 1.8rem;
$size-s: 2rem;
$size-m: 2.5rem;
$size-l: 3rem;
$size-xl: 4rem;
