@mixin flex($align, $justify, $direction: row, $wrap: nowrap, $disp: flex) {
	display: $disp;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	flex-wrap: $wrap;
}


@mixin btn($bg-color, $txt-color, $p-y, $p-x, $rad, $shadow, $fs, $wght, $border:none) {
	background-color: $bg-color;
	color: $txt-color;
	padding-top: $p-y;
	padding-bottom: $p-y;
	padding-left: $p-x;
	padding-right: $p-x;
	border-radius: $rad;
	box-shadow: $shadow;
	font-size: $fs;
    font-weight: $wght;
	border: $border;
}
