@mixin flex-row-gap-between {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

@mixin padding-box($p-inline, $p-block) {
	padding-inline: $p-inline;
	padding-block: $p-block;
}