// Font families

$ff-main: "Ubuntu", sans-serif;

// html base font size

$base-font-size: 10px;

// Font weights

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

// List styles

$base-list-style: none;

// Letter cases

$upper: Uppercase;

// Letter Spacing

$letr-spacing-100: 0.125rem;
$letr-spacing-200: 0.25rem;
$letr-spacing-300: 0.5rem;
