@use "./abstracts/" as *;



.navbar {
	@include flex(center, space-between);
	position: sticky;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: $main-bg-color;
	box-shadow: 0 2px 4px darken($main-bg-color, 2);
	z-index: 5;

	&-logo__box {
		background-image: url("../assets/logo.png");
		background-size: cover;
		background-position-y: center;
		height: 60px;
		width: 120px;
		margin-left: 10px;
	}

	.burger {
		margin-right: 30px;
		cursor: pointer;

		.line {
			display: block;
			width: 30px;
			height: 2px;
			background-color: $main-text-color;
			margin: 6px 0;
			transition: all 300ms ease-in-out;
		}
	}

	.on {
		.line:nth-child(1) {
			transform: rotate(45deg) translate(4px, 7px);
		}

		.line:nth-child(2) {
			opacity: 0;
		}

		.line:nth-child(3) {
			transform: rotate(-45deg) translate(4px, -7px);
		}
	}

	&-menu {
		@include flex(center, flex-start, column);
		position: absolute;
		top: -260px;
		overflow: hidden;
		opacity: 0;
		width: 100%;
		font-size: 2rem;
		background-color: $main-bg-color;
		box-shadow: 0 4px 4px #1a1a1a;
		transition: all 300ms ease-in-out;

		&__item {
			display: block;
			width: 100%;
			border-top: 1px solid darken($main-text-color, 70);
		}

		&__link {
			padding: 10px;
			display: block;
			text-align: center;
			width: 100%;
			font-size: $size-m;
		}
	}

	.toggled {
		top: 60px;
		opacity: 1;
	}
}
