@use "../abstracts/" as *;

html {
	scroll-behavior: $smooth-scroll;
	min-width: $min-width;
}

body {
	font-family: $ff-main;
	font-weight: $fw-regular;
	font-size: $base-font-size;
	color: $color-white;
	background-color: $color-black;
}

a {
	color: $color-white;
	text-decoration: none;
}

a:is(:hover, :focus) {
	color: $color-main;
}

li {
	list-style: $base-list-style;
}
